{% extends "base.html" %}

{% block content %}
<div class="map-widget">
    <h2>Map Widget: Train Location Tracker</h2>
    <div id="map">
        <!-- Example: Display train locations -->
        {% for train in trains %}
        <p>{{ train.name }}: Latitude {{ train.latitude }}, Longitude {{ train.longitude }}</p>
        {% endfor %}
    </div>
</div>

<div class="speed-widget">
    <h2>Speed Gauge / Graphs</h2>
    <ul>
        {% for train in trains %}
        <li>{{ train.name }}: Current Speed = {{ train.speed }} km/h</li>
        {% endfor %}
    </ul>
</div>

<div class="alarm-widget">
    <h2>Alarm Indicator</h2>
    <ul>
        {% for train in trains %}
        <li>
            {{ train.name }}: 
            {% if train.alert == 0 %}
                <span style="color: green;">Safe</span>
            {% else %}
                <span style="color: red;">Danger</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
